/* ---font-link--- */

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto Slab', serif;
}
.full-wrap{
    background: linear-gradient(135deg, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    width:100%;
    height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;
}
.wrap{
    background: linear-gradient(135deg, #00aeff 0%,#00b7ef 47%,#0084ea 100%); 
    padding:20px 40px;
    box-shadow: 6px 5px 15px -3px rgba(0,0,0,0.54);
    border-radius:4px;
}
.continer{
    display:flex;
    justify-content: space-between;

}
.col-1{
    width:58%;

}
.col-2{
    width:40%;
}



h2{
    font-size:2.9rem;
    color:#fff;
    margin-bottom:10px;
}
p{
    color:#fff;
}
.winM{
    margin-top:20px;
}
.gas-input-number{
    width:100%;
    padding:10px;
    outline:none;
    display:block;
    border:none;
    border-radius:30px 3px;
    box-shadow: 2px 4px 9px -5px rgba(0,3,0,0.54);
    transition:.6s all ease;
    text-align:center;
    color:#2b2b2b;
    margin-top:30px;
}
.gas-input-number::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.gas-input-number:hover{
    box-shadow: 6px 5px 11px -3px rgba(0,0,0,0.54);
}

.i-wrap{


}


.btn{
    margin:15px 0px;
    display:flex;
    justify-content:end;
    margin-right:0px;
}
.button{
    width:100%;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 9px -5px rgba(0,3,0,0.54);
    transition: .6s all ease;
    color: #2b2b2b;
}
.button:hover{
    box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.54);
}


.massage{
    display:flex;
    justify-content:space-between;
}

h3{
    color:#fff;
    margin-right:40px;
    font-size:22px;
}
h4{
    color:#fff;
    font-size:22px;
    margin-top:;
}
.win{
    margin-top:20px;
}
.p{
    display:block;
}



@media screen{
    
}